.catalog{
    
    @media (min-width: @tablet-width){

    }

    @media (min-width: @desktop-width){
        
    }
}


.catalog__wrapper{
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
    
    @media (min-width: @tablet-width){

    }

    @media (min-width: @desktop-width){
        
    }
}


.catalog__list{
    display: flex;
    flex-direction: column;
    
    
    @media (min-width: @tablet-width){

    }

    @media (min-width: @desktop-width){
        
    }
}


.catalog__item{
    margin-bottom: 30px;
    
    @media (min-width: @tablet-width){

    }

    @media (min-width: @desktop-width){
        
    }
}


.catalog__video{
    margin-bottom: 60px;
    
    @media (min-width: @tablet-width){

    }

    @media (min-width: @desktop-width){
        
    }
}
