.catalog-main{
    
    @media (min-width: @tablet-width){

    }

    @media (min-width: @desktop-width){
        
    }
    
}


.catalog-main__title{
    background-color: #f1f1f1;
    padding-top: 74px;
    padding-bottom: 74px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 27px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 30px;
    
    @media (min-width: @tablet-width){

    }

    @media (min-width: @desktop-width){
        
    }
}


