.contacts{
    
    @media (min-width: @tablet-width){

    }

    @media (min-width: @desktop-width){

    }
}


.contacts__wrapper{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    
    @media (min-width: @tablet-width){

    }

    @media (min-width: @desktop-width){

    }
}


.contacts-title{
    margin-bottom: 40px;
}


.contacts__list{
    display: flex;
    flex-direction: column;
    
    @media (min-width: @tablet-width){

    }

    @media (min-width: @desktop-width){

    }
    
}


.contacts__item{
    margin-bottom: 40px;
    
    @media (min-width: @tablet-width){

    }

    @media (min-width: @desktop-width){

    }
    
}


.contacts__item:last-child{
    margin-bottom: 0;
}


.contacts__item:first-child a{
    border-bottom: 2px solid #63d1bb;
    color: #444444;    
    @media (min-width: @tablet-width){

    }

    @media (min-width: @desktop-width){

    }
}


.contacts__item  a{
   color: #444444;     
}


.contacts__map{
    margin-bottom: 40px;
    
    @media (min-width: @tablet-width){

    }

    @media (min-width: @desktop-width){

    }
}


.contacts__map-iframe{
    position: relative;
    width: 100%;
}


.contacts__batton-wrapper{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    
    @media (min-width: @tablet-width){

    }

    @media (min-width: @desktop-width){

    }
}


.contacts__button{
    
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 400px;
}


