.page-footer{
    background-color: #f1f1f1;
    
    @media (min-width: @tablet-width){

    }

    @media (min-width: @desktop-width){

    }
}


.page-footer__wrapper{
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    @media (min-width: @tablet-width){

    }

    @media (min-width: @desktop-width){

    }
}


.page-footer__logo{ //флекс элемент
    display: none;
    
    @media (min-width: @tablet-width){//
    }

    @media (min-width: @desktop-width){

    }
}


