.reviews{

    @media (min-width: @tablet-width){
        background-image: url("../img/review@1x.jpg");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 350px 457px;
    }

    @media (min-width: @desktop-width){

    }
}


.reviews__wrapper{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;

    @media (min-width: @tablet-width){
        padding-left: 50px;
        padding-right: 50px;
        display: flex;
        flex-wrap: wrap;
    }

    @media (min-width: @desktop-width){

    }
}


.reviews__wrapper .section-title{
    
    @media (min-width: @tablet-width){
        font-size: 43px;
        line-height: 50px;
        padding-top: 86px;
        margin-bottom: 65px;
    }

    @media (min-width: @desktop-width){

    }
}


.reviews__text{
    margin-bottom: 30px;
    line-height: 30px;

    @media (min-width: @tablet-width){
      font-size: 17px;
        margin-bottom: 68px;
    }

    @media (min-width: @desktop-width){

    }
}


.reviews__author{
    margin-bottom: 30px;
    font-size: 17px;
    font-weight: bold;

    @media (min-width: @tablet-width){
        width: 254px;
    }

    @media (min-width: @desktop-width){

    }
}


.reviews__author span{
    font-weight: normal;

    @media (min-width: @tablet-width){

    }

    @media (min-width: @desktop-width){

    }
}


.reviews__button-wrapper{
    margin-bottom: 30px;

    @media (min-width: @tablet-width){
        display: flex;
        justify-content: space-between;
    }

    @media (min-width: @desktop-width){

    }
}


.reviews__button{
    display: flex;
    justify-content: center;
    max-width: 400px;
    margin: 0 auto;
    
    @media (min-width: @tablet-width){//флекс элемент
        margin: 0;
        margin-bottom: auto;
        margin-left: auto;
        //order:2;
        
    }

    @media (min-width: @desktop-width){

    }
}